<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="Js/angular.min.js"></script>
    <script src="Js/sweetalert2.all.js"></script>
    <script src="Js/main.js"></script>
    <script src="Js/app.js"></script>
    <script src="Js/controller.js"></script>


    <link rel="stylesheet" href="Stylesheets/custom.css">
    
  

</head>
<body ng-app="game" ng-controller="ctrl" ng-init="score = 0">

    <button>{{score}}</button>
    

    <div class="row container">

        <img src="obj.gif" alt="HitMe" data-id = "1" class="col-4" ng-model = "img" ng-click="Increment()">
        <img src="obj.gif" alt="HitMe" data-id = "2" class="col-4" ng-model = "img" ng-click="Increment()">
        <img src="obj.gif" alt="HitMe" data-id = "3" class="col-4" ng-model = "img" ng-click="Increment()">
        <img src="obj.gif" alt="HitMe" data-id = "4" class="col-4" ng-model = "img" ng-click="Increment()">
        <img src="obj.gif" alt="HitMe" data-id = "5" class="col-4" ng-model = "img" ng-click="Increment()">
        <img src="obj.gif" alt="HitMe" data-id = "6" class="col-4" ng-model = "img" ng-click="Increment()">
        <img src="obj.gif" alt="HitMe" data-id = "7" class="col-4" ng-model = "img" ng-click="Increment()">
        <img src="obj.gif" alt="HitMe" data-id = "8" class="col-4" ng-model = "img" ng-click="Increment()">
        <img src="obj.gif" alt="HitMe" data-id = "9" class="col-4" ng-model = "img" ng-click="Increment()">

    </div>
    
</body>
</html>